# Directories with temporary files
bin/
Debug/
doc/
gcc/
Generated/
GeneratedFiles/
msvc2008/
Release/
swig/
Win32/

# Wild cards
*.Debug
*.dll
*.exp
*.filters
*.lib
*.log
*.ncb
*.out
*.o
*.obj
*.pdb
*.pro.user
*.pyc
*.pyd
*.Release
*.suo
*.vcproj.user
*.vcxproj.user
.goutputstream-*
core.*

# Specific files
.cproject
.project
core
dosbox.pid
Applications/MoMCustomizer/Makefile
Applications/MoMTest/Makefile
Applications/MoMTweaker/Makefile
Applications/build-*
Makefile.Debug
Makefile.Release
MoMGenerated.idc
.qmake.stash
object_script.*
